@import "hamburgers.css";

@font-face {
  font-family: Rene Bieder - Galano Grotesque;
  src: url("assets/fonts/Rene Bieder - Galano Grotesque.otf");
}

@font-face {
  font-family: Rene Bieder - Galano Grotesque Thin;
  src: url("assets/fonts/Rene Bieder - Galano Grotesque Thin.otf");
}

@font-face {
  font-family: Rene Bieder - Galano Grotesque Thin Italic;
  src: url("assets/fonts/Rene Bieder - Galano Grotesque Thin Italic.otf");
}

@font-face {
  font-family: Rene Bieder - Galano Grotesque SemiBold;
  src: url("assets/fonts/Rene Bieder - Galano Grotesque SemiBold.otf");
}

@font-face {
  font-family: Rene Bieder - Galano Grotesque SemiBold Italic;
  src: url("assets/fonts/Rene Bieder - Galano Grotesque SemiBold Italic.otf");
}

@font-face {
  font-family: Rene Bieder - Galano Grotesque Medium;
  src: url("assets/fonts/Rene Bieder - Galano Grotesque Medium.otf");
}

@font-face {
  font-family: Rene Bieder - Galano Grotesque Medium Italic;
  src: url("assets/fonts/Rene Bieder - Galano Grotesque Medium Italic.otf");
}

@font-face {
  font-family: Rene Bieder - Galano Grotesque Light;
  src: url("assets/fonts/Rene Bieder - Galano Grotesque Light.otf");
}

@font-face {
  font-family: Rene Bieder - Galano Grotesque Light Italic;
  src: url("assets/fonts/Rene Bieder - Galano Grotesque Light Italic.otf");
}

@font-face {
  font-family: Rene Bieder - Galano Grotesque Italic;
  src: url("assets/fonts/Rene Bieder - Galano Grotesque Italic.otf");
}

@font-face {
  font-family: Rene Bieder - Galano Grotesque Heavy;
  src: url("assets/fonts/Rene Bieder - Galano Grotesque Heavy.otf");
}

@font-face {
  font-family: Rene Bieder - Galano Grotesque Heavy Italic;
  src: url("assets/fonts/Rene Bieder - Galano Grotesque Heavy Italic.otf");
}

@font-face {
  font-family: Rene Bieder - Galano Grotesque ExtraLight;
  src: url("assets/fonts/Rene Bieder - Galano Grotesque ExtraLight.otf");
}

@font-face {
  font-family: Rene Bieder - Galano Grotesque ExtraLight Italic;
  src: url("assets/fonts/Rene Bieder - Galano Grotesque ExtraLight Italic.otf");
}

@font-face {
  font-family: Rene Bieder - Galano Grotesque ExtraBold;
  src: url("assets/fonts/Rene Bieder - Galano Grotesque ExtraBold.otf");
}

@font-face {
  font-family: Rene Bieder - Galano Grotesque ExtraBold Italic;
  src: url("assets/fonts/Rene Bieder - Galano Grotesque ExtraBold Italic.otf");
}

@font-face {
  font-family: Rene Bieder - Galano Grotesque Bold;
  src: url("assets/fonts/Rene Bieder - Galano Grotesque Bold.otf");
}

@font-face {
  font-family: Rene Bieder - Galano Grotesque Bold Italic;
  src: url("assets/fonts/Rene Bieder - Galano Grotesque Bold Italic.otf");
}

@font-face {
  font-family: Rene Bieder - Galano Grotesque Black;
  src: url("assets/fonts/Rene Bieder - Galano Grotesque Black.otf");
}

@font-face {
  font-family: Rene Bieder - Galano Grotesque Black Italic;
  src: url("assets/fonts/Rene Bieder - Galano Grotesque Black Italic.otf");
}

$large-breakpoint: 1210px;
$medium-breakpoint: 991px;
$small-breakpoint: 767px;
$mini-breakpoint: 575px;

$text-font: 'Open Sans', sans-serif;
$second-text-font: FontAwesome, sans-serif;
$text-color: #272727;
$accent-color: #1a1a1a;

*:focus {
  outline: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, p, ul {
  padding: 0;
  margin: 0;
}

svg {
  overflow: hidden;
  width: 20px;
  height: 12px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $text-font;
  color: $text-color;
  font-size: 12px;
  overflow-x: hidden;
}

.header-intro-background {
  background: url(assets/images/back_home.png);
  background-repeat: no-repeat;
  background-size: cover;

  .header-intro-text {
    padding: 50px 0 110px 0;
    width: 1180px;
    margin: 0 auto;

    h1 {
      font-size: 36px;
      font-weight: 700;
      color: #f5f5f5;
      padding-bottom: 35px;

      @media only screen and (max-width: $medium-breakpoint) {
        font-size: 30px;
        padding-bottom: 35px;
      }

      @media only screen and (max-width: $mini-breakpoint) {
        font-size: 22px;
      }
    }

    p {
      color: #f5f5f5;
      font-size: 16px;
      line-height: 20px;
      text-align: justify;

      @media only screen and (max-width: $small-breakpoint) {
        font-size: 14px;
      }
    }

    @media only screen and (max-width: $large-breakpoint) {
      width: 100%;
      padding: 50px 15px 110px 15px;
    }

    @media only screen and (max-width: $mini-breakpoint) {
      padding: 50px 15px;
    }
  }

  @media only screen and (max-width: $small-breakpoint) {
    background-position: center;
  }
}

.page-container {
  background-color: #f7f7f7;
}

header {
  .header-logo-and-menu {
    width: 1180px;
    margin: 0 auto;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #ffffff;

    .logo {
      flex-grow: 1;
    }

    .menu-main-menu-container {
      ul {
        display: flex;
        justify-content: center;

        li {
          list-style: none;
          margin-left: 30px;

          a {
            text-decoration: none;
            color: #272727;
            font-weight: 700;
            font-size: 16px;
            border-bottom: 1px solid transparent;
            padding-bottom: 5px;
            transition: 0.5s;

            &:hover {
              border-bottom: 1px solid #272727;
              transition: 0.5s;
            }

            @media only screen and (max-width: $small-breakpoint) {
              padding: 0 15px;
              font-size: 13px;
            }
          }

          &.current-menu-item {
            a {
              border-bottom: 1px solid #272727;
            }
          }

          @media only screen and (max-width: $small-breakpoint) {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;
          }
        }

        @media only screen and (max-width: $small-breakpoint) {
          flex-direction: column;
          padding-top: 10px;
        }
      }

      &.is-active {
        display: flex;
        position: absolute;
        background-color: #FFFFFF;
        top: 60px;
        width: 100%;
        left: 0;
        justify-content: flex-end;
        z-index: 999999999;
        text-transform: uppercase;
      }

      @media only screen and (max-width: $small-breakpoint) {
        display: none;
      }
    }

    .hamburger {
      display: none;

      @media only screen and (max-width: $small-breakpoint) {
        display: block;
        position: absolute;
        right: 15px;
        top: 8px;
      }
    }

    @media only screen and (max-width: $large-breakpoint) {
      width: 100%;
      padding: 0 15px;
    }
  }
}

.casino-box-container-background {
  background: #f0f0f0;
  padding: 27px 0 25px 0;

  .casino-box-container {
      width: 1180px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

      .casino-box {
        width: 280px;
        text-align: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        .casino-box-logo-stars {
          display: flex;
          align-items: center;
          flex-direction: column;
          background: #252525;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          padding: 30px 0 8px 0;

          .casino-box-logo {
            padding-bottom: 20px;
            a {
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                max-width: 130px;
              }
            }
          }

          .rating-and-number-container {
            .star-ratings {
              width: 83px;
              unicode-bidi: bidi-override;
              color: #f0d100;
              font-size: 20px;
              position: relative;
              padding: 0;

              .fill-ratings {
                color: #f0d100;
                padding: 0;
                position: absolute;
                z-index: 1;
                display: block;
                top: 0;
                left: 0;
                overflow: hidden;
                // Allows us to grab the width of the span elements
                span {
                  display: inline-block;
                }
              }

              .empty-ratings {
                padding: 0;
                display: block;
                z-index: 0;
              }
            }

            .rating-number {
              color: #FFFFFF;
              font-size: 14px;
            }
          }
        }

        @media only screen and (max-width: $large-breakpoint) {
          width: 49%;
          margin-bottom: 14px;
        }

        @media only screen and (max-width: $small-breakpoint) {
          width: 100%;
        }
      }

      .casino-box-bonus {
        border-bottom: solid 1px #d9d9d9;
        border-left: 1px solid #d9d9d9;
        border-right: 1px solid #d9d9d9;
        background-color: #ffffff;
        padding: 20px 10px;

        h3 {
          padding: 11px 0;
          font-size: 28px;
          font-family: Rene Bieder - Galano Grotesque Heavy, sans-serif;
        }

        p {
          font-size: 14px;
          padding: 0 10px;
        }
      }

      .casino-box-visit {
        background-color: #ffffff;
        padding: 15px 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-left: 1px solid #d9d9d9;
        border-right: 1px solid #d9d9d9;
        border-bottom: 1px solid #d9d9d9;

        .casino-box-visit-list {
          display: flex;
          padding-bottom: 10px;
          width: 100%;
          padding-left: 32px;

          p {
            text-align: left;
            font-size: 13px;
            margin-left: 5px;
          }

          svg {
            height: 14px;
            flex-shrink: 0;
          }

          @media only screen and (max-width: $large-breakpoint) {
            padding-left: 0;
            justify-content: center;
          }
        }

        p {
          font-size: 12px;
        }

        a {
          text-decoration: none;
          font-weight: 700;
        }

        .visit-button {
          background-color: #63248c;
          font-size: 18px;
          border-radius: 5px;
          width: 190px;
          line-height: 40px;
          margin-bottom: 15px;
          display: flex;
          justify-content: center;
          transition: 0.5s;

          a {
            width: 100%;
            text-decoration: none;
            color: #fff;
            font-family: Rene Bieder - Galano Grotesque Heavy, sans-serif;
          }

          &:hover {
            background-color: #252525;
            transition: 0.5s;
          }
        }

        .terms-here {
          display: flex;

          p {
            font-family: "Open Sans", sans-serif;
            font-size: 12px;
            margin-right: 5px;
          }

          a {
            color: #63248c;
            transition: 0.5s;
            font-weight: 700;

            &:hover {
              color: #272727;
              transition: 0.5s;
            }
          }

        }
      }

    @media only screen and (max-width: $large-breakpoint) {
      width: 100%;
      padding: 0 15px;
      flex-wrap: wrap;
    }

    @media only screen and (max-width: $small-breakpoint) {
      flex-direction: column;
    }
  }
}

.page-content {
  width: 910px;
  margin: 0 auto;
  padding: 50px 0 10px 0;

  .first-text {
    margin-bottom: 27px;

    h2 {
      color: #1e1e1e;
      font-size: 36px;
      font-weight: 700;

      @media only screen and (max-width: $medium-breakpoint) {
        font-size: 30px;
        text-align: center;
      }

      @media only screen and (max-width: $mini-breakpoint) {
        font-size: 25px;
        text-align: center;
      }
    }
  }

  .first-paragraph {
      background-color: #FFFFFF;
      padding: 20px;
      border: 1px solid #d9d9d9;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      text-align: justify;

      p {
        font-size: 16px;
        color: #333333;
        line-height: 24px;

        @media only screen and (max-width: $mini-breakpoint) {
          font-size: 14px;
        }
      }
    }

  .casino-bonus-box {
    margin-top: 30px;
    display: flex;
    border: 1px solid #d9d9d9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #fff;

    .casino-box-logo-stars {
      width: 240px;

      .casino-bonus-box-logo {
        border-top-left-radius: 5px;
        background-color: #63248c;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            max-width: 130px;
          }
        }

        @media only screen and (max-width: $medium-breakpoint) {
          border-top-right-radius: 5px;
        }
      }

      .casino-bonus-box-stars {
        text-align: center;
        padding: 10px 0;

        p {
          font-size: 14px;
        }

        .star-ratings-2 {
          width: 83px;
          unicode-bidi: bidi-override;
          color: #f0d100;
          font-size: 20px;
          position: relative;
          padding: 0;
          margin-left: 78px;

          .fill-ratings-2 {
            color: #f0d100;
            padding: 0;
            position: absolute;
            z-index: 1;
            display: block;
            top: 0;
            left: 0;
            overflow: hidden;
            // Allows us to grab the width of the span elements
            span {
              display: inline-block;
            }
          }

          .empty-ratings-2 {
            padding: 0;
            display: block;
            z-index: 0;
          }

          @media only screen and (max-width: $medium-breakpoint) {
            margin-left: 1px;
          }
        }

        .rating-number-2 {
          color: #FFFFFF;
          font-size: 14px;
        }

        @media only screen and (max-width: $medium-breakpoint) {
          display: flex;
          flex-flow: column;
          align-items: center;
        }
      }

      @media only screen and (max-width: $medium-breakpoint) {
        width: 100%;
      }
    }

    .casino-box-text-list {
      border: 1px solid #d9d9d9;
      border-bottom: none;
      border-top: none;
      width: 420px;
      flex-grow: 1;

      .casino-bonus-box-text {
        padding: 10px 0 10px 40px;
        border-bottom: 1px solid #d9d9d9;

        h3 {
          font-family: Rene Bieder - Galano Grotesque Bold, sans-serif;
          font-size: 14px;
        }

        @media only screen and (max-width: $medium-breakpoint) {
          padding: 10px 0 10px 0;
          border-top: 1px solid #d9d9d9;
          border-bottom: 1px solid #d9d9d9;
        }
      }

      .casino-bonus-box-list-suk {
        padding: 40px 10px 5px 30px;

        .casino-bonus-box-list {
          display: flex;
          padding-bottom: 15px;

          p {
            font-size: 13px;
            margin-left: 5px;

          }

          svg {
            height: 14px;
          }

          @media only screen and (max-width: $medium-breakpoint) {
            display: flex;
            justify-content: center;
            text-align: left;
            border-bottom: 1px solid #d9d9d9;
            padding: 10px;
          }
        }

      }
      @media only screen and (max-width: $medium-breakpoint) {
        width: 100%;
        border: none;
      }
    }

    .casino-box-text-link {
      width: 248px;

      .casino-bonus-box-text2 {
        height: 40px;
        border-bottom: 1px solid #d9d9d9;
        text-align: center;
        padding-top: 10px;
        font-family: Rene Bieder - Galano Grotesque Bold, sans-serif;
      }

      .casino-bonus-box-button {
        text-align: center;

        h4 {
          font-family: Rene Bieder - Galano Grotesque Heavy ,sans-serif;
          font-size: 28px;
          padding: 10px 0 5px 0;

          p {
            font-size: 14px;
          }
        }

        .visit-button2 {
          background-color: #63248c;
          font-size: 18px;
          border-radius: 5px;
          width: 190px;
          line-height: 40px;
          padding-top: 3px;
          margin: 15px 0 10px 29px;
          display: flex;
          justify-content: center;
          transition: 0.5s;

          a {
            width: 100%;
            text-decoration: none;
            color: #fff;
            font-family: Rene Bieder - Galano Grotesque Heavy, sans-serif;
          }

          &:hover {
            background-color: #252525;
            transition: 0.5s;
          }

          @media only screen and (max-width: $medium-breakpoint) {
            margin: 15px 0 10px 0;
          }
        }

           h5 {
             font-size: 12px;
             font-weight: unset;

             a {
               text-decoration: none;
               color: #272727;
               font-size: 12px;
               transition: 0.5s;

               &:hover {
                 color: #63248c;
                 transition: 0.5s;
               }
             }
          }

        @media only screen and (max-width: $medium-breakpoint) {
          display: flex;
          flex-flow: column;
          align-items: center;
          padding-bottom: 5px;
        }
      }

      @media only screen and (max-width: $medium-breakpoint) {
        width: 100%;
      }
    }

    @media only screen and (max-width: $medium-breakpoint) {
      flex-direction: column;
      text-align: center;
    }
  }

  .casino-bonus-box-paragraph {
    border: 1px solid #d9d9d9;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #f9f9f9;

    p {
      padding: 10px 20px;
      font-size: 12px;
      line-height: 20px;
    }

    a {
      text-decoration: none;
      color: #777777;
    }
  }

  .casino-games-types-of-bonuses {
    .casino-games {
      .casino-games-paragraph {
        border: solid 1px #e0e0e0;
        border-radius: 5px;
        background: #ffffff;
      }

      h2 {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 25px;

        @media only screen and (max-width: $medium-breakpoint) {
          font-size: 30px;
          text-align: center;
        }

        @media only screen and (max-width: $mini-breakpoint) {
          font-size: 25px;
          text-align: center;
        }
      }

      p {
        padding: 15px;
        font-size: 16px;
        line-height: 24px;
        font-family: "Open Sans", sans-serif;
        text-align: justify;

        a {
          text-decoration: none;
          font-style: italic;
          transition: 0.5s;

          &:hover {
            color: #8e8e98;
            transition: 0.5s;
          }
        }

        @media only screen and (max-width: $mini-breakpoint) {
          font-size: 14px;
        }
      }
    }

    .types-of-bonuses {
      h2 {
        margin-top: 50px;
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 25px;

        @media only screen and (max-width: $medium-breakpoint) {
          font-size: 30px;
          text-align: center;
        }

        @media only screen and (max-width: $mini-breakpoint) {
          font-size: 25px;
          text-align: center;
        }
      }

      .type-of-bonuses-paragraph {
        border: solid 1px #e0e0e0;
        background: #ffffff;
        border-radius: 5px;
        padding: 15px;
        font-size: 16px;
        line-height: 24px;
        font-family: "Open Sans", sans-serif;
        text-align: justify;

        a {
          text-decoration: none;
          font-style: italic;
          transition: 0.5s;

          &:hover {
            color: #8e8e98;
            transition: 0.5s;
          }
        }

        h3 {
          font-family: Rene Bieder - Galano Grotesque Bold;
          font-size: 18px;

          @media only screen and (max-width: $mini-breakpoint) {
            font-size: 16px;
            text-align: center;
          }
        }

        h4 {
          font-family: Rene Bieder - Galano Grotesque Bold;
          font-size: 18px;

          @media only screen and (max-width: $mini-breakpoint) {
            font-size: 16px;
            text-align: center;
          }
        }

        @media only screen and (max-width: $mini-breakpoint) {
          font-size: 14px;
        }
      }
    }

    &.page-info {
      margin-top: 0;
    }

    &.page-guides-games-types-of-bonuses {
      margin-top: 20px;
    }
  }

  .latest-casino-guides {
    margin-top: 50px;

    h2 {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 25px;

      @media only screen and (max-width: $medium-breakpoint) {
        font-size: 30px;
        text-align: center;
      }

      @media only screen and (max-width: $mini-breakpoint) {
        font-size: 25px;
        text-align: center;
      }
    }

    .latest-casino-guides-boxes {
      display: flex;
      flex-flow: wrap;
      justify-content: space-between;

      .latest-casino-guides-box {
        padding: 30px 15px 20px 15px;
        border: solid 1px #e0e0e0;
        background: #ffffff;
        border-radius: 5px;
        width: 440px;
        margin-bottom: 30px;

        h3 {
          font-family: Rene Bieder - Galano Grotesque Bold;
          font-size: 18px;
          margin-bottom: 20px;

          @media only screen and (max-width: $mini-breakpoint) {
            font-size: 16px;
            text-align: center;
          }
        }

        p {
          font-size: 16px;
          line-height: 24px;
          font-family: "Open Sans", sans-serif;
          padding-bottom: 25px;

          @media only screen and (max-width: $mini-breakpoint) {
            font-size: 14px;
          }
        }

        .visit-button3 {
          background-color: #63248c;
          font-size: 18px;
          border-radius: 5px;
          width: 190px;
          line-height: 40px;
          display: flex;
          justify-content: center;
          margin: 0 auto;
          transition: 0.5s;

          a {
            text-decoration: none;
            color: #fff;
            font-family: Rene Bieder - Galano Grotesque Heavy, sans-serif;
            width: 100%;
            text-align: center;
          }

          &:hover {
            background-color: #252525;
            transition: 0.5s;
          }
        }

        &:last-child, &:nth-child(3) {
          margin-bottom: 0;

          @media only screen and (max-width: $large-breakpoint) {
            margin-bottom: 20px;
          }
        }

        &.page-guides-latest-casino-guides-box {
          &:last-child, &:nth-child(3) {
            margin-bottom: 30px;

            @media only screen and (max-width: $large-breakpoint) {
              margin-bottom: 20px;
            }
          }
        }

        @media only screen and (max-width: $large-breakpoint) {
          width: 49%;
          margin-bottom: 20px;
        }

        @media only screen and (max-width: $medium-breakpoint) {
          width: 100%;
          margin-bottom: 20px;
        }
      }

      @media only screen and (max-width: $medium-breakpoint) {
          flex-flow: column;
      }
    }
  }

  &.guides-page-content {
    padding-top: 0;

    .latest-casino-guides-boxes {
      .latest-casino-guides-box:nth-child(3) {
        margin-bottom: 30px;
      }
    }

    .casino-games-paragraph {
      border: solid 1px #e0e0e0;
      border-radius: 5px;
      background: #ffffff;
    }
  }

  @media only screen and (max-width: $large-breakpoint) {
    width: 100%;
    padding: 50px 15px 50px 15px;
  }
}

footer {
  .menu-footer-menu-container {
    background-color: #63248c;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    .menu {
      display: flex;
      list-style: none;

      li {
        margin-left: 18px;

        a {
          color: #e9e9e9;
          text-decoration: none;
          font-size: 16px;

          &:hover {
            color: #8e8e98;
            transition: 0.5s;
          }
        }

        &.current-menu-item {
          a {
            color: #8e8e98;
          }
        }

        @media only screen and (max-width: $mini-breakpoint) {
          margin: 15px;
        }
      }

      @media only screen and (max-width: $mini-breakpoint) {
        list-style: none;
        text-align: center;
        display: block;
      }
    }

    @media only screen and (max-width: $mini-breakpoint) {
      display: flex;
      justify-content: center;
      height: auto;
    }
  }

  .footer-logo-text {
    background-color: #252525;
    height: 125px;

    .footer-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 90px;

      a {
        display: flex;
        align-items: center;

        img {
          height: 25px;
          margin-left: 25px;

          @media only screen and (max-width: $mini-breakpoint) {
            height: 20px;
            margin-left: 0;
          }
        }

        .footer-icon {
          @media only screen and (max-width: $mini-breakpoint) {
            margin-right: 0;
          }
        }

        .footer-icon-hover {
          display: none;
        }

        &:hover {
            .footer-icon {
              display: none;
            }

            .footer-icon-hover {
              display: block;
            }
          }

        @media only screen and (max-width: $mini-breakpoint) {
          margin-bottom: 15px;
        }
      }

      @media only screen and (max-width: $mini-breakpoint) {
        flex-direction: column;
        height: auto;
        padding-top: 15px;
      }
    }

    .footer-text {
      text-align: center;
      font-size: 16px;

      p {
        color: #FFFFFF;

        a {
          text-decoration: none;
          color: #FFFFFF;

          &:hover {
            color: #63248c;
          }
        }
      }

      @media only screen and (max-width: $mini-breakpoint) {
        font-size: 13px;
        padding-bottom: 10px;
      }
    }

    @media only screen and (max-width: $mini-breakpoint) {
      height: auto;
    }
  }

  .back-to-top {
    text-align: center;
    padding-bottom: 20px;
    background-color: #f7f7f7;

    a {
      &:hover {
        opacity: 0.5;
      }
    }
  }
}


/*Popup*/
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    display: none;
    z-index: 2;

  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 40%;
    position: relative;
    transition: all 5s ease-in-out;

    .close {
      position: absolute;
      top: -2px;
      right: 7px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: #333;

      &:hover {
        color: #63248c;
      }
    }

    h2 {
      margin-top: 0;
      color: #63248c;
      font-family: Rene Bieder - Galano Grotesque Heavy, sans-serif;
      font-size: 20px;
      font-weight: bold;

      @media only screen and (max-width: $small-breakpoint) {
        font-size: 16px;
      }
    }

    .content {
      max-height: 30%;
      overflow: auto;

      p {
        margin: 15px 0;
        font-family: Rene Bieder - Galano Grotesque;
        font-size: 14px;
        line-height: 18px;
        color: #333333;
        text-align: justify;

        @media only screen and (max-width: $small-breakpoint) {
          font-size: 12px;
        }
      }
    }

    .poog {
      background-color: #63248c;
      font-size: 18px;
      border-radius: 5px;
      line-height: 40px;
      display: flex;
      justify-content: center;
      transition: 0.5s;

      a {
        width: 100%;
        text-decoration: none;
        color: #fff;
        font-family: Rene Bieder - Galano Grotesque Heavy, sans-serif;
      }

      &:hover {
        background-color: #252525;
        transition: 0.5s;
      }

      @media only screen and (max-width: $small-breakpoint) {
        font-size: 15px;
      }

    }
    @media only screen and (max-width: $small-breakpoint) {
      width: 80%;
    }
  }
}





